<div class="new-todo">
  <input [(ngModel)]="newToDoTitle" type="text" placeholder="What needs to be done?"
         autofocus autocomplete="off"/>
  <button (click)="onAddToDo()"  class="add-button" id="add-button">
    +
  </button>
</div>
