<section class="todoapp">

  <header class="header">
    <h1>Simplistic ToDo</h1>
    <h4>A most simplistic ToDo List with Angular.</h4>
  </header>

  <section class="main">

    <div class="link-container">
      <p>
        Done: {{doneToDos.length}}
      </p>
    </div>

    <td-new-todo (addToDo)="addToDo($event)"></td-new-todo>
    <td-todo-list  [todos]="todos" (removeToDo)="completeToDo($event)"></td-todo-list>

  </section>

</section>

<footer class="info">
  <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
  </p>
</footer>
